# --------------------------------------------
# REQUIRED: CORS
# --------------------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://astryss.acethekawaii.com


# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
MONGO_URI=


# --------------------------------------------
# REQUIRED: STARDUST
# --------------------------------------------
REDIS_URL=redis://default:<password>@<host>:<port>
STARDUST_SECRET=


# --------------------------------------------
# OPTIONAL: PRODUCT IMAGE HOSTING (Cloudinary)
# --------------------------------------------
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
